@font-face {
    font-family: 'HYShuaiXianTiW';   /*字体名称*/
    src: url('../font/HYShuaiXianTiW.ttf');       /*字体源文件*/
}

html {
    font-size: 14px;
    font-family: HYShuaiXianTiW;
}

body {
    margin: 0;
    padding: 0;
}

body, #rScreen {
    background-color: #6bdbcb;
    height: 100vh;
    width: 100vw;
    min-width: 180px;
    overflow: hidden;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}