#iHeader {
    display: block;
    height: 25vh;
    min-height: 145px;
}

#iHeader .cet {
    display: block;
    float: right;
    margin-top: 3em;
    width: 92vw;
}

#iHeader .cet img {
    width: 100%;
}

#iHeader #Vector {
    display: block;
    float: left;
    width: 30vw;
    margin-top: 2em;
}

#iMain {
    display: block;
    height: 60vh;
    min-width: 180px;
    margin-top: 1.5em;
}

#iMain #section {
    height: 288px;
    text-align: center;
    background-image: url(../img/section@2x.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 96vw 333px;
}

#iMain .fieldWrap {
    height: 72%;
    width: 100%;
    padding-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#iMain .field {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 82%;
}

#iMain .field picture {
    height: 60px;
    width: 50%;
    flex: 1;
    margin-right: 10px;
}

#iMain .field picture img {
    height: 60%;
    width: 100%;
    position: relative;
    top: .8em;
}

#iMain .field select {
    height: 60px;
    width: 45%;
    border: #333 solid 3px;
    border-radius: 6px;
    font-size: 24px;
    color: #333;
    flex: 1;
}

#iMain .field input {
    height: 60px;
    width: 45%;
    border: #333 solid 3px;
    border-radius: 6px;
    font-size: 24px;
    color: #333;
    flex: 1;
}

#iMain #button {
    display: inline-block;
    width: 100vw;
    text-align: center;
    margin-top: 1em;
}

#iMain #button img {
    cursor: pointer;
    width: 45%;
    min-width: 180px;
}

#iFooter {
    display: block;
    position: fixed;
    z-index: -2;
    bottom: 0;
    width: 100vw;
}

#iFooter #david {
    display: block;
    float: left;
    width: 50%;
}

#iFooter #david img {
    position: fixed;
    bottom: 0;
}

#iFooter #silent {
    display: block;
    float: right;
    padding-top: 3em;
    width: 40%;
}

#iFooter #silent img {
    height: 20vh;
    width: auto;
}

#iFooter #ww {
    display: block;
    float: right;
    width: 10vw;
    width: 10%;
}