#rMain {
    padding-top: 56px;
    width: 100vw;
    position: relative;
    z-index: 1;
}

#rMain #result {
    margin: 0 auto;
    /* 用来显示下边框 */
    padding-bottom: 5px;
    width: 88%;
    height: 55vh;
    border: #333 solid 5px;
}

#rMain #result #resBody {
    width: 100%;
    height: 75%;
}

#rMain #result #resBody .status {
    position: relative;
    float: right;
    width: 20%;
}

#rMain #result #resBody .status img {
    width: 100%;
    height: auto;
}

/* 你的 CET 预测结果 */
#rMain #result #resBody h1 {
    padding-top: 20px;
    padding-left: 20px;
    font-size: 18px;
}

/* 预测随机文案 */
#rMain #result #resBody p {
    padding: 15% 1em 0 1em;
    text-align: center;
    line-height: 28px;
}

#rMain #result #resBody p span {
    display: block;
    font-size: 18px;
}

#rMain #result #resBody p b {
    margin-top: 20px;
    font-size: 26px;
}

#rMain #result #resFooter {
    width: 100%;
    height: 25%;
    background-color: #fff;
    border-top: #333 solid 5px;
}

#rMain #result #resFooter #resLeft {
    position: relative;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 16px;
    width: 66%;
}

#rMain #result #resFooter #resLeft span {
    display: block;
}

#rMain #result #resFooter #resRight {
    padding-top: .25em;
    position: relative;
    float: right;
    height: 100%;
    width: 30%;
}

#rMain #result #resFooter #resRight .qr {
    display: block;
    height: 80%;
    width: 100%;
    text-align: center;
}

#rMain #result #resFooter #resRight .qr img {
    height: 100%;
    max-width: 100%;
    width: auto;
}

#rMain #result #resFooter #resRight span {
    display: block;
    font-size: 12px;
    text-align: center;
}

#rMain #save {
    display: block;
    margin-top: 28px;
    width: 100%;
    height: 100px;
}

#rMain #save img {
    display: block;
    margin: 0 auto;
}

#rFooter {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#rFooter #mmmm {
    height: 100%;
    width: 100%;
}

#rFooter #mmmm img {
    height: auto;
    width: 100%;
}